header {
    background: #f6f3ea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
   border-bottom:1px solid rgb(210, 210, 210);
}

.logo {
    font-size: 24px;
    font-weight: bold;
   
   
}

.highlight {
    color: #7a3af9;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0 auto;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.contact-btn {
    background: #7a50b6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    order: 3;
}
.footprint{
    width: 2em;
    margin-top: -1.5em;
    margin-left: -1.5em;
}
nav ul li a.active {
    background: #9063cd;  /* Same color as "Contact us" button */
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a.active:hover {
    background: #7a50b6; /* Darker shade on hover */
}

